
div {
    width: 950px;
    height: 700px;
    padding: 50px;
    margin: 20px;
    background-color: goldenrod;

  }
  p1{
    font-size: 65px;

  }
  p2{
    font-size: medium;
  }
  aside{
    width: 50%;
    height: 50%;
  }
 p3{
  font-size:16px;
  display: contents;
   grid: row 1px; ;
 }
 p4{
  font-size:16px;

 }
 p5{
  font-size:16px;
  
 }
 label {
  display: block;
  font:
    1rem 'Fira Sans',
    sans-serif;
}

input,
label {
  margin: 0.4rem 0;
}
.styled {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;

  
  background-color: rgb(67, 64, 83);}
  
  .fit-picture {
    width: 150px;
      height: 350px;
    }
    
  
.test1{
  size: 200px;
}
